html {
  /* Palette ref : https://coolors.co/palette/31393c-2176ff-33a1fd-fdca40-f79824 */
  --primary: rgba(51, 161, 253, 1);
  --primary-transparent: rgba(51, 161, 253, 0.33);
  --primary-dark: rgba(49, 57, 60, 1);
  --primary-dark-transparent: rgba(49, 57, 60, 0.33);

  /* MUI <CssBaseline />: https://mui.com/material-ui/react-css-baseline/: */
}

body {
  /* https://www.freecodecamp.org/news/html-page-width-height/ */
  min-height: 100vh;
}

/* Transparent scrollbar for Chromium: https://codepen.io/morgun/pen/qBPJBz (source: google "transparent scrollbar codepen") */
body ::-webkit-scrollbar {
  width: 16px;
}

body ::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: padding-box;
  padding: 2px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}

body ::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.6) !important;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
